{% extends "base.html" %}

{% block breadcrumb %}
    {% include "components/breadcrumb.html" with parent="Dashboard" parent_url="/dashboard/" current="Transações" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mt-4">
        <div class="card min-vh-70">
            {% include "components/card_header.html" with title="Eventos" %}

            <div class="card-body">
                <div class="card-body">
                    {% if events %}
                        <ul>
                            {% for event in events %}
                                <li>
                                    <strong>{{ event.title }}</strong><br>
                                    {{ event.date }} - {{ event.location }}<br>
                                    {{ event.description }}
                                    <a href="{% url 'edit-event' event.id %}" class="btn btn-sm btn-secondary">Editar</a>
                                    <a href="{% url 'delete-event' event.id %}" class="btn btn-sm btn-danger">Excluir</a>
                                    <a href="{% url 'detail-event' event.id %}" class="btn btn-sm btn-info">Detalhes</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-sm">Nenhum evento cadastrado.</p>
                    {% endif %}
                    <a href="{% url 'create-event' %}" class="btn btn-primary">Novo evento</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
