{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            {% include "components/card_header.html" with title="Dashboard .." %}
            
            <div class="card-body min-h-50">
                <p class="text-sm">
                    Esta é uma página simples usando o layout base.
                </p>

                <a href="#" class="btn btn-primary btn-sm">
                    Botão de exemplo
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
