{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12 mt-4">
        <div class="card min-vh-70">
            {% include "components/card_header.html" with title="Gestão" %}

            <div class="card-body h-100">
                <form action="." class="h-100 w-full " method="post">
                    {% csrf_token %}
                    
                    <div class="row pt-0 w-full">
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <div class="form-group">{{ form.name|as_crispy_field }}</div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">{{ form.begin_date|as_crispy_field }}</div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">{{ form.end_date|as_crispy_field }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full d-flex flex-row-reverse gap-2 p-4">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <a class="btn btn-light" href="{% url 'list-managements' %}">Voltar</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
